@using MvcCvProjesi.Models.Entity
@model List<TblSertifikalarım>

<div class="resume-section-content">
<h2 class="mb-5">Sertifikalarım</h2>
@foreach (var x in Model)
{
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="flex-grow-1">
            <p>@x.Aciklama</p>
        </div>
        <div class="flex-shrink-0"><span class="text-primary">@x.Tarih</span></div>
    </div>
}
</div>